@font-face {
  font-family: "MuseoSansCyrl";
  src: url("/fonts/MuseoSansCyrl-300.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "MuseoSansCyrl";
  src: url("/fonts/MuseoSansCyrl-500.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "MuseoSansCyrl";
  src: url("/fonts/MuseoSansCyrl-500.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "MuseoSansCyrl";
  src: url("/fonts/MuseoSansCyrl-700.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "MuseoSansCyrl";
  src: url("/fonts/MuseoSansCyrl-700.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

:root {
  font-family:
    "MuseoSansCyrl", "Inter", "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-weight: 300;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  font-family:
    "MuseoSansCyrl", "Inter", "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  font-family:
    "MuseoSansCyrl", "Inter", "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

#root {
  min-height: 100vh;
}

.slick-arrow.slick-prev {
  color: black;
}

.slick-arrow.slick-next {
  color: black;
}
