node_modules
.alchemy
.env
**/dist
**/.cache
.DS_Store

infrastructure/secrets/*
infrastructure/traefik/logs/*
infrastructure/postgres/data
infrastructure/authelia/*
!infrastructure/authelia/configuration.yml
!infrastructure/authelia/users.example.yml

infrastructure/postgres/data
!infrastructure/postgres/data/pg_wal/*
!infrastructure/postgres/data/pg_hba.conf
!infrastructure/postgres/data/postgresql.conf

__pycache__/
*.py[cod]
*.pyo
*.pyd
*.db
*.sqlite3

venv/

.idea/
.vscode/
*.sublime-project
*.sublime-workspace

*.egg-info/
*.egg/
dist/
build/
